<nav>
  <div class="container">
    <span class="brand">Sheila&nbsp;Moraes</span>
    <button class="hamburger"><i class="fas fa-bars"></i></button>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Início</a></li>
      <li><a href="{{ '/#sobre' | relative_url }}">Sobre</a></li>
      <li><a href="{{ '/#servicos' | relative_url }}">Serviços</a></li>
      <li><a href="{{ '/#artigos' | relative_url }}">Artigos</a></li>
      <li><a href="{{ '/#depoimentos' | relative_url }}">Depoimentos</a></li>
      <li><a href="{{ '/#contato' | relative_url }}">Contato</a></li>
    </ul>
  </div>
</nav> 